/* Características del segundo index */


.encabezado h1{
    text-align: center;
    justify-content: center;
    font-size: 60px;
    color: rgb(253, 232, 0);
}

body{
    font-family: "Lexend", sans-serif;
    margin: 0;
    padding: 0;
    height: 4100px;
    background-image: linear-gradient(to top, rgb(37, 37, 37) , rgb(150, 1, 173) );
    display: block;
    color: #FFFFFF;
}

.sombra{
    -webkit-box-shadow: 21px 23px 38px -34px rgba(0,0,0,0.61);
    -moz-box-shadow: 21px 23px 38px -34px rgba(0,0,0,0.61);
    box-shadow: 21px 23px 38px -34px rgba(0,0,0,0.61);
}

.subtitulo{
    margin-bottom: 40px;
}


/* Videojuegos */

.cuadro-info{
    margin: 40px;
    background-color: rgba(52, 52, 52, 0.505);
    border-radius: 20px;
    padding: 20px 40px 40px 40px;
}

.imagenes-gustos{
    display: flex;
    text-align: center;
    justify-content: center;
}

.imagenes-gustos img{
    width: 300px;
    height: auto;
    margin: 20px 50px 40px 50px;
    border-radius: 20px;
}

.contenedor-img{
    width: 2000px;
    justify-content:space-around;
}


.contenedor-video{
    justify-content: center;
    text-align: center;
}

.video-lol{
    margin: 40px;
}

/* Series y peliculas */

.anime{
    display: flex;
    justify-content: center;

}

.anime #gif{

    width: 450px;
    margin: 30px 50px;
    border-radius: 20px;
}

.gif-arcane{
    display: flex;
    justify-content: center;
    text-align: center;
}

.gif-arcane img{
    width: 300px;
    border-radius: 20px;
}

/* Musica */

.musica-anime{
    display: flex;
    text-align: center;
    justify-content: center;
}

.musica-anime .video-anime{
    margin: 30px;
    width: 400px;
    height: 200px;
}

.gorillaz{
    display: flex;
    text-align: center;
    justify-content: center;
}

.gorillaz img{
    width: 400px;
    height: auto;
    margin: 40px;
    border-radius: 20px;
}

.imagenes-mcr{
    display: flex;
    text-align: center;
    justify-content: center;
}

.imagenes-mcr img{
    width: 400px;
    height: auto;
    margin: 40px;
    border-radius: 20px;
}